.App {
  display: flex;
  justify-content: center;
  background-color: rgb(220, 136, 68);
  color: white;
  height: 60px;
  
  padding-top: 5px;
}


h1 {
  height: 100%;
  margin: 0;
}



.Food-tile {
  width: 100%;
  margin: 0;
}

h2 {
  margin: 0;
  padding-left: 5px;
}

.Details ul {
  padding: 0 5px;
  /* border: 1px solid; */
  max-width: 50%;
}

.Details {
  position: relative;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.Rated > li {
  text-align: right;
}

li strong {
  color: rgb(196, 122, 61);
}


ul li {
  list-style: none;
}

.BizDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Business-tile {
  /* background-color: gray; */
  padding: 0;
  margin: 30px 70px;
  width: 20%;
  min-width: 220px;
}

.box {
  display: flex;
  /* justify-content: center; */
  background-color: white;
  /* border: 1px solid; */
  min-width: 220px;
  width: 20%;
  margin: auto 100px;
}

.Search {
  background-image: url("./foodspread.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  height: 50vh;
  min-height: 300px;
}

input[type="radio"] {
  visibility: hidden;
}

input[type="text"] {
  width: 20vw;
  min-width: 120px;
  border-radius: 7px;
  height: 30px;
  padding-left: 20px;
  color: gray;
}

#submit {
  border-radius: 5px;
  background-color: rgb(220, 136, 68);
  color: white;
  font-weight: bold;
  font-size: 1em;
  box-shadow: none;
  border: none;
  padding: 15px 30px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  min-width: 220px;
  margin: auto;
  height: 30%;
}

label {
  padding-left: 4%;
  color: white;
  font-weight: bold;
}

.sortby {
  display: flex;
  /* background-color: gray; */
  font-size: 110%;
  font-weight: bold;
  width: 60%;
  justify-content: space-around;
  padding-bottom: 5px;
}

.sortby > div {
  margin: auto 0;
  width: 100%;
  border-bottom: 3px solid white;
  padding: 10px 30px;
  color: white;
}

.textfields {
  display: flex;
  justify-content: space-evenly;
  width:100%;
}

#sort {
  color: rgb(220, 136, 68);
  border-bottom: 3px solid rgb(220, 136, 68);
  text-shadow: 
    2px 2px 2px #000,
    -2px 2px 2px #000,
     2px -2px 2px #000,
    -2px -2px 2px #000;
    
  
  
}